.file-uploader-container {
  height: 200px;
  width: 200px;
  margin-top: 32px;
  position: relative;
  overflow: hidden;
}

.upload-description {
  position: absolute;
  display: inline-block;
}

.thumbnail {
  height: 70%;
  width: auto;
  overflow: hidden;
}
.thumbnail > img {
  width: 100%;
  height: auto;
}
.title {
  text-align: center;
  padding: 16px 0px;
}
.image-element {
  width: 100%;
  height: auto;
  display: block;
}

.image-container {
  /* margin-bottom: 32px; */
  -webkit-box-shadow: 8px 5px 13px 0px rgba(lightskyblue, 0.17);
  width: 100%;
  height: auto;
  position: relative;
  -moz-box-shadow: 8px 5px 13px 0px rgba(lightskyblue, 0.17);
  box-shadow: 8px 5px 13px 0px rgba(lightskyblue, 0.17);
  a {
    display: block;
    height: auto;
  }
  margin-bottom: 14px;

  .image-details {
    height: 100%;
    display: none;
    width: 100%;
    top: 0;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
  }

  &:hover {
    .image-details {
      display: block;
    }
  }
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  /* margin-left: -32px;  */
  width: auto;
  min-height: 400px;
}
.my-masonry-grid_column {
  /* padding-left: 32px;  */
  background-clip: padding-box;
  margin-right: 14px;
}

.photo-description {
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  color: lightskyblue;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.upload-photo-container {
  position: absolute;
  top: 50%;
  right: 0;
  padding: 8px;
  border: 2px solid lightskyblue;
  transform: rotate(90deg) translateX(-50%);
  a {
    text-decoration: none;
    color: lightskyblue;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.grid-container {
  margin-top: 32px;
}
