.file-uploader-container {
  height: 400px;
  margin-top: 32px;
  overflow: hidden;
}
.thumbnail {
  height: 70%;
  width: auto;
  overflow: hidden;
}
.thumbnail > img {
  width: 100%;
  height: auto;
}
.title {
  text-align: center;
  padding: 16px 0px;
}
.image-element {
  max-width: 100%;
  height: auto;
  display: block;
}

.image-container {
  /* margin-bottom: 32px; */
  border: 2px solid black;
  padding: 7px;
  a {
    display: block;
    height: auto;
  }
  margin-bottom: 30px;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  /* margin-left: -32px;  */
  width: auto;
  min-height: 400px;
}
.my-masonry-grid_column {
  /* padding-left: 32px;  */
  background-clip: padding-box;
  margin-right: 32px;
}

.photo-description {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  font-weight: bold;
  color: lightskyblue;
}

.upload-photo-container {
  position: absolute;
  top: 50%;
  right: 0;
  padding: 8px;
  border: 2px solid lightskyblue;
  transform: rotate(90deg) translateX(-50%);
  a {
    text-decoration: none;
    color: lightskyblue;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.grid-container {
  margin-top: 32px;
}
