.file-uploader-container {
  height: 400px;
  width: 200px;
  margin-top: 32px;
  overflow: hidden;
}
.thumbnail {
  height: 70%;
  width: auto;
  overflow: hidden;
}
.thumbnail > img {
  width: 100%;
  height: auto;
}
.title {
  text-align: center;
  padding: 16px 0px;
}
.image-element {
  max-width: 100%;
  height: auto;
  display: block;
}

.image-container {
  /* margin-bottom: 32px; */
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  /* margin-left: -32px;  */
  width: auto;
  min-height: 400px;
}
.my-masonry-grid_column {
  /* padding-left: 32px;  */
  background-clip: padding-box;
}
